<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre_usuario, style: "display: block" %>
    <%= form.text_field :nombre_usuario %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :ubication_id, "Ubicación" %>
    <%= form.collection_select :ubication_id, @ubication_states, :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :state_id, "Estado" %>
    <%= form.collection_select :state_id, @states, :id, :nombre %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
