<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre usuario:</strong>
    <%= user.nombre_usuario %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Ubication:</strong>
    <%= user.ubication_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user.state_id %>
  </p>

</div>
