<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Factura</title>


</head>
<body>
    <div id="main-content">
        <div id="bill-table-container">
            <table>
                <caption>Detalles de la Factura</caption>
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Información</th>
                    </tr>
                </thead>
                <tbody>
                    <% if bill.state_id == 1 %>
                     <tr>
                        <td data-label="Descripción"><strong>Radicado</strong></td>
                        <td data-label="Información"><%= bill.radicado %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Sao</strong></td>
                        <td data-label="Información"><%= bill.SAO %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Número factura</strong></td>
                        <td data-label="Información"><%= bill.numero_factura %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Tipo proyecto</strong></td>
                        <td data-label="Información"><%= bill.tipo_proyecto %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Fecha llegada recepción</strong></td>
                        <td data-label="Información"><%= bill.fecha_llegada_recepcion.try(:strftime, '%d/%m/%Y') %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Fecha entrega compras</strong></td>
                        <td data-label="Información"><%= bill.fecha_entrega_compras.try(:strftime, '%d/%m/%Y') || 'Fecha no disponible' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Fecha entrega SST</strong></td>
                        <td data-label="Información"><%= bill.fecha_entrega_sst.try(:strftime, '%d/%m/%Y') || 'Fecha no disponible' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Estado SST</strong></td>
                        <td data-label="Información"><%= bill.state_sst.try(:nombre) || 'En proceso.' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Segunda entrega Compras</strong></td>
                        <td data-label="Información"><%= bill.compras_segunda_fecha.try(:strftime, '%d/%m/%Y') || 'Fecha no disponible' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Fecha entrega Gerencia</strong></td>
                        <td data-label="Información"><%= bill.fecha_entrega_gerencia.try(:strftime, '%d/%m/%Y') || 'Fecha no disponible' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Estado Gerencia</strong></td>
                        <td data-label="Información"><%= bill.state_gerencia.try(:nombre) || 'En proceso.' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Fecha entrega Contabilidad</strong></td>
                        <td data-label="Información"><%= bill.fecha_entrega_contabilidad.try(:strftime, '%d/%m/%Y') || 'Fecha no disponible' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Estado Contabilidad</strong></td>
                        <td data-label="Información"><%= bill.state_contabilidad.try(:nombre) || 'En proceso.' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Ubicación de la factura</strong></td>
                        <td data-label="Información"><%= bill.aasm_state %></td>
                    </tr>
                     <tr>
                        <td data-label="Descripción"><strong>Locación de la factura</strong></td>
                        <td data-label="Información"><%= bill.general_state.try(:nombre) %></td>
                    </tr>
                 <% elsif bill.state_id == 2 %>
                    <tr>
                        <td data-label="Descripción"><strong>Radicado</strong></td>
                        <td data-label="Información"><%= bill.radicado %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Sao</strong></td>
                        <td data-label="Información"><%= bill.SAO %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Número factura</strong></td>
                        <td data-label="Información"><%= bill.numero_factura %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Tipo proyecto</strong></td>
                        <td data-label="Información"><%= bill.tipo_proyecto %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Fecha llegada recepción</strong></td>
                        <td data-label="Información"><%= bill.fecha_llegada_recepcion.try(:strftime, '%d/%m/%Y') %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Fecha entrega Contabilidad</strong></td>
                        <td data-label="Información"><%= bill.fecha_entrega_contabilidad.try(:strftime, '%d/%m/%Y') || 'Fecha no disponible' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Estado Contabilidad</strong></td>
                        <td data-label="Información"><%= bill.state_contabilidad.try(:nombre) || 'En proceso.' %></td>
                    </tr>
                     <tr>
                        <td data-label="Descripción"><strong>Fecha entrega Gerencia</strong></td>
                        <td data-label="Información"><%= bill.fecha_entrega_gerencia.try(:strftime, '%d/%m/%Y') || 'Fecha no disponible' %></td>
                    </tr>
                    <tr>
                        <td data-label="Descripción"><strong>Estado Gerencia</strong></td>
                        <td data-label="Información"><%= bill.state_gerencia.try(:nombre) || 'En proceso.' %></td>
                    </tr>
                     <tr>
                        <td data-label="Descripción"><strong>Ubicación de la factura</strong></td>
                        <td data-label="Información"><%= bill.aasm_state %></td>
                    </tr>
                     <tr>
                        <td data-label="Descripción"><strong>Locación de la factura</strong></td>
                        <td data-label="Información"><%= bill.general_state.try(:nombre) %></td>
                    </tr>
                    <% else %>
                    <%puts ("No hay facturas disponibles")%>
                    <%end%>
                   
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


