<% if compras_has_access? %>
<h1>Facturas en Compras</h1>

<table>
  <thead>
    <tr>
      <th>Radicado</th>
      <th>SAO</th>
      <th>Numero Factura</th>
      <th>Tipo Proyecto</th>
      <th>Fecha de Llegada a Compras</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.radicado %></td>
        <td><%= bill.SAO %></td>
        <td><%= bill.numero_factura %></td>
        <td><%= bill.tipo_proyecto %></td>
        <td><%= bill.fecha_entrega_compras %></td>
        <td>
          <% if bill.fecha_entrega_sst.blank? %>
      
            <%= link_to 'Editar', edit_compras_bill_path(bill) %>
           
          <% else %>
        
            <%= link_to 'Editar Segunda Vuelta', edit_compras_segunda_entrega_bill_path(bill) %>
          
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% else %>
  <div id="permission-alert" data-message="No tienes permiso para acceder a esta vista" style="display: none;"></div>
<% end %>




