<% if sst_has_access? %>
<h1>SST</h1>

<%= form_with(model: @bill, url: update_sst_bill_path(@bill), local: true) do |form| %>

<div>
    <%= form.label :numero_factura, "Numero de Factura:", style: "display: block" %>
    <div><%= @bill.numero_factura %></div>
    <%= form.hidden_field :numero_factura, value: @bill.numero_factura %>
  </div>

<div>
    <%= form.label :radicado, "Radicado:", style: "display: block" %>
    <div><%= @bill.radicado %></div>
    <%= form.hidden_field :radicado, value: @bill.radicado %>
  </div>

  <div>
    <%= form.label :SAO, "SAO:", style: "display: block" %>
    <div><%= @bill.SAO %></div>
    <%= form.hidden_field :SAO, value: @bill.SAO %>
  </div>

  <div>
    <%= form.label :tipo_proyecto, "Proyecto:", style: "display: block" %>
    <div><%= @bill.tipo_proyecto %></div>
    <%= form.hidden_field :tipo_proyecto, value: @bill.tipo_proyecto %>
  </div>

  <div>
    <%= form.label :fecha_entrega_sst, "Fecha Llegada a SST:", style: "display: block" %>
    <div><%= @bill.fecha_entrega_sst %></div>
    <%= form.hidden_field :fecha_entrega_sst, value: @bill.fecha_entrega_sst %>
  </div>

  <div class="field">
    <%= form.label :state_sst_id, "Estado SST" %>
    <%= form.collection_select :state_sst_id, @sst_states, :id, :nombre %>
  </div>


  <div class="field">
    <%= form.label :compras_segunda_fecha %>
    <%= form.date_select :compras_segunda_fecha %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar a Compras" %>
  </div>

  <% end %>
<% else %>
  <div id="permission-alert" data-message="No tienes permiso para acceder a esta vista" style="display: none;"></div>
<% end %>