<% if gerencia_has_access? %>
<h1>Gerencia</h1>

  <%= form_with(model: @bill, url: update_gerencia_bill_path(@bill), local: true) do |form| %>
  <div>
    <%= form.label :numero_factura, "Numero de Factura:", style: "display: block" %>
    <div><%= @bill.numero_factura %></div>
    <%= form.hidden_field :numero_factura, value: @bill.numero_factura %>
  </div>

  <div>
    <%= form.label :radicado, "Radicado:", style: "display: block" %>
    <div><%= @bill.radicado %></div>
    <%= form.hidden_field :radicado, value: @bill.radicado %>
  </div>

  <div>
    <%= form.label :SAO, "SAO:", style: "display: block" %>
    <div><%= @bill.SAO %></div>
    <%= form.hidden_field :SAO, value: @bill.SAO %>
  </div>

  <div>
    <%= form.label :tipo_proyecto, "Proyecto:", style: "display: block" %>
    <div><%= @bill.tipo_proyecto %></div>
    <%= form.hidden_field :tipo_proyecto, value: @bill.tipo_proyecto %>
  </div>

  <div>
    <%= form.label :fecha_entrega_compras, "Fecha Llegada a Compras:", style: "display: block" %>
    <div><%= @bill.fecha_entrega_compras %></div>
    <%= form.hidden_field :fecha_entrega_compras, value: @bill.fecha_entrega_compras %>
  </div>
  
  <div class="field">
    <%= form.label :state_gerencia_id, "Estado Gerencia" %>
    <%= form.collection_select :state_gerencia_id, @gerencia_states, :id, :nombre %>
  </div>

    <div class="field">
        <%= form.label :fecha_entrega_contabilidad, "Entrega Contabilidad" %>
        <%= form.date_select :fecha_entrega_contabilidad %>
    </div>


  <div class="actions">
    <%= form.submit "Enviar a Contabilidad" %>
  </div>

  <% end %>
<% else %>
  <div id="permission-alert" data-message="No tienes permiso para acceder a esta vista" style="display: none;"></div>
<% end %>