<h1>Contabilidad</h1>

<%= form_with(model: @bill, url: update_contabilidad_bill_path(@bill), local: true) do |form| %>
  
  <div>
    <%= form.label :numero_factura, "Numero de Factura:", style: "display: block" %>
    <div><%= @bill.numero_factura %></div>
    <%= form.hidden_field :numero_factura, value: @bill.numero_factura %>
  </div>

<div>
    <%= form.label :radicado, "Radicado:", style: "display: block" %>
    <div><%= @bill.radicado %></div>
    <%= form.hidden_field :radicado, value: @bill.radicado %>
  </div>

  <div>
    <%= form.label :SAO, "SAO:", style: "display: block" %>
    <div><%= @bill.SAO %></div>
    <%= form.hidden_field :SAO, value: @bill.SAO %>
  </div>

  <div>
    <%= form.label :tipo_proyecto, "Proyecto:", style: "display: block" %>
    <div><%= @bill.tipo_proyecto %></div>
    <%= form.hidden_field :tipo_proyecto, value: @bill.tipo_proyecto %>
  </div>
  
    <div>
    <%= form.label :fecha_entrega_contabilidad, "Fecha llegada a Contabilidad:", style: "display: block" %>
    <div><%= @bill.fecha_entrega_contabilidad %></div>
    <%= form.hidden_field :fecha_entrega_contabilidad, value: @bill.fecha_entrega_contabilidad %>
  </div>

  <div class="field">
    <%= form.label :state_contabilidad_id, "Estado Contabilidad" %>
    <%= form.collection_select :state_contabilidad_id, @contabilidad_states, :id, :nombre %>
  </div>

  <div class="actions">
    <%= form.submit "Finalizar proceso de la Factura" %>
  </div>

<% end %>