<% if gerencia_has_access? %>
<div style="height: 45px;"></div>

  <table>
    <thead>
      <tr>
        <th>Radicado</th>
        <th>SAO</th>
        <th>Número de Factura</th>
        <th>Tipo de Proyecto</th>
        <th>Fecha Llegada Gerencia</th>
        <th>Fecha Entrega Contabilidad</th>
        <th>Estado Gerencia</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% filtered_bills = @bills.select { |bill| bill.state_id == current_user.state_id } %>
      <% if filtered_bills.present? %>
        <% filtered_bills.each do |bill| %>
          <tr>
            <td><%= bill.radicado %></td>
            <td><%= bill.SAO %></td>
            <td><%= bill.numero_factura %></td>
            <td><%= bill.project_type.try(:nombre)%></td>
            <td><%= bill.fecha_entrega_gerencia %></td>
            <td>
           <%= form_with(model: bill, url: update_gerencia_bill_path(bill), method: :patch) do |f| %>
              
              <div class="field">
              <%= f.date_field :fecha_entrega_contabilidad, value: f.object.fecha_entrega_contabilidad, class: 'form-control' %>
                
              </div>
            </td>
            <td>
             <div class="field">
                <%= f.collection_select :state_gerencia_id, @gerencia_states, :id, :nombre %>
              </div>
            </td>
            <td>
              <%= f.submit "Actualizar y enviar a contabilidad" %>
            <% end %>
            </td>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">No hay facturas disponibles para tu estado actual.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div id="permission-alert" data-message="No tienes permiso para acceder a esta vista" style="display: none;"></div>
<% end %>


