<% if recepcion_has_access? %>
  <div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Crear Factura</h3>
            <p>Complete los campos a continuación.</p>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'providers' %>

            <%= form_with(model: @bill, local: true, class: 'requires-validation', novalidate: true) do |form| %>
              <% if @bill.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
                  <ul>
                    <% @bill.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="col-md-12">
                <%= form.label :nit, "NIT del Proveedor" %>
                <%= text_field_tag :nit, params[:nit], id: "nit_field" %>
                <%= form.hidden_field :provider_id, id: "bill_providers_id" %>
              </div>

              <div class="field">
                <%= form.label :provider_name, "Nombre del Proveedor" %>
                <%= form.text_field :provider_name, id: 'provider-name', readonly: true %>
              </div>

              <div class="col-md-12">
                <%= form.label :radicado %>
                <%= form.text_field :radicado, class: 'form-control', placeholder: 'Radicado', required: true %>
              </div>

              <div class="col-md-12">
                <%= form.label :SAO %>
                <%= form.text_field :SAO, class: 'form-control', placeholder: 'SAO', required: true %>
              </div>

              <div class="col-md-12">
                <%= form.label :numero_factura %>
                <%= form.text_field :numero_factura, class: 'form-control', placeholder: 'Número de Factura', required: true %>
              </div>

              <div class="field">
                <%= form.label :project_type_id, "Tipo Proyecto" %>
                <%= form.collection_select :project_type_id, @tipo_proyecto_states, :id, :nombre %>
              </div>

              <div class="col-md-12">
                <%= form.label :fecha_llegada_recepcion %>
                <%= form.date_select :fecha_llegada_recepcion, class: 'form-control', required: true %>
              </div>

              <% if current_user && current_user.state_id == 1 %>
                <%= form.submit 'Enviar a Compras', name: 'commit', value: 'Enviar a compras' %>
                <%= form.submit 'Enviar a SST', name: 'commit', value: 'Enviar a SST' %>
              <% else %>
               

                <div class="form-button mt-3">
                <%= form.submit "Crear Factura y enviar", class: 'btn btn-primary' %>
              </div>
              <% end %>
              <%= hidden_field_tag :bill_providers_id, nil, id: 'bill_providers_id' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div id="no-access-message">
    <p>No tienes permiso para acceder a esta página.</p>
  </div>
<% end %>
