<!DOCTYPE html>
<html>
  <head>
    <title>Redyco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-menu">
      <div class="top-menu__content">
        <a href="#" class="top-menu__logo">Redyco</a>
        <nav class="top-menu__nav">
          <a href="#" class="top-menu__link">Inicio</a>
        </nav>
      </div>
    </div>

    <%= yield %>
  </body>
</html>

